<button
    [class]="
            'flex flex-row gap-4 items-center cursor-pointer ' +
            config().labelClass + ' ' +
            config().borderClass + ' ' +
            config().hoverClass + ' ' +
            config().bgClass  + ' ' +
            config().roundedClass
          "
    [ngClass]="{
        'py-2.5 pl-8 pr-8': data().type === 'button',
        'hover:underline': data().type === 'link',
        '!pr-4 !pl-6' : config().icon  }"
    [disabled]="config().isDisabled"
    (click)="onClick()"
>
    <span (click)="$event.preventDefault()">{{ config().label }}</span>
    @if (config().icon) {
        <mat-icon (click)="$event.preventDefault()" [svgIcon]="config().icon!" class="color-dark-9 !w-4 aspect-square"/>
    }
</button>
